<div id="pitch" class="wrap-outer">
	<div class="wrap">
		<div class="row" id="pitch">
			<h2 class="title">Find <span class="variable object">Things</span> To Do in <span class="variable location">Bali</span></h2>
			<h3 class="description">Share and search iteneraries.Try it out try! Click and change these.</h3>
		</div>
	</div><!-- .wrap -->
</div><!-- #pitch.wrap-outer -->

<div id="showcase" class="wrap-outer">
	<div class="wrap">
		<div class="row">
			<div id="cards">
				<% for i in 0..8 %>
				<div class="card">
					<div class="content">
						<p>Try the best burger in town: @burgeRocksID FTW!</p>
					</div>
					<div class="meta">
						<div class="author">
							<a href="#" class="avatar circle"><img src="/assets/static/avatar-30.jpg" alt="" class="circle"></a>
							<a href="#" class="name">Clark Khan</a>
						</div><!-- .author -->
						<ul class="actions">
							<li><a href="#" class="discuss"><span class="icon"></span><span class="popup">+</span></a></li>
							<li><a href="#" class="done"><span class="icon"></span><span class="popup">32</span></a></li>
							<li><a href="#" class="want"><span class="icon"></span><span class="popup">69</span></a></li>
							<li><a href="#" class="more"><span class="icon"></span><span class="popup">+</span></a></li>
						</ul>
					</div><!-- .meta -->
				</div><!-- .card -->
				<% end %>
			</div><!-- #cards -->
			<div id="more-cards">
				<a href="#" class="button">Load More To-Dos</a>
			</div>
		</div>			
	</div><!-- .wrap -->
</div><!-- #showcase.wrap-outer -->

<div id="stories" class="wrap-outer">
	<div class="wrap">
		<div class="row">
			<div class="column one-third">
				<div class="story">
					<img src="/assets/static/thumb-250.jpg" alt="" class="circle">
					<h2 class="title">Travees: From and For Travellers</h2>
					<div class="description">
						<p>We love to travel. We want to know what to do in our destination.  We love to share our travelling story.  That's why we built Travees.</p>
					</div>
				</div>
			</div><!-- .column.one-third -->
			<div class="column one-third">
				<div class="story">
					<img src="/assets/static/thumb-250.jpg" alt="" class="circle">
					<h2 class="title">Find What To Do Here And There</h2>
					<div class="description">
						<p>Travelling to places you haven't gone before? Find what to do, places to stay, etc from iteneraries made by fellow locals and travellers.</p>
					</div>
				</div>
			</div><!-- .column.one-third -->
			<div class="column one-third last">
				<div class="story">
					<img src="/assets/static/thumb-250.jpg" alt="" class="circle">
					<h2 class="title">Tell People What To Do Here And There</h2>
					<div class="description">
						<p>Whether you've just travelled to that exotic places or you're a local in your city, share your itenerary and top-things to do in certain places</p>
					</div>
				</div>
			</div><!-- .column.one-third.last -->
		</div>			
	</div>
</div><!-- #stories.wrap-outer -->

<div id="bottom-cta" class="wrap-outer">
	<div class="row">
		<div id="bottom-pitch">
			<p>You're gonna love <span class="travees">Travees</span></p> 
		</div>
		<a href="#" id="cta" class="button danger">Sign Up Now</a>
	</div>		
</div><!-- #bottom-cta.wrap-outer -->

<div id="cover-background">
	<img src="/assets/static/cover.jpg" alt="">
</div>