<div id="body" class="outer-wrap">
	<div class="wrap">
		<div class="row" id="signup">
			<div class="column one-third">
				<div class="section">
					<div class="section-header">
						<h2 class="section-title">Use Your Account:</h2>
					</div>
					<div class="section-body">
						<div class="inside">
							<p>
								<a href="#" id="signin-facebook">Sign In Using Facebook</a>
							</p>
							<p>
								<a href="#" id="signin-twitter">Sign In Using Twitter</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="column two-third last">
				<div class="section">
					<div class="section-header">
						<h2 class="section-title">Or, You Can Sign Up Using Email:</h2>
					</div>
					<div class="section-body">
						<%= form_tag(auth_process_signup_path) do %>
						<div class="inside">
							<p class="item-row">
								<span class="item-label">
									Username
								</span>
								<span class="item-wrap">
									<%= text_field_tag 'users[username]', '', class: "text", placeholder: "e.g.: Travees" %>
								</span>
							</p>
							<p class="item-row">
								<span class="item-label">
									Full Name
								</span>
								<span class="item-wrap">
									<%= text_field_tag 'users[fullname]', '', class: "text", placeholder: "e.g.: Travees Pack" %>
								</span>
							</p>
							<p class="item-row">
								<span class="item-label">
									Email
								</span>
								<span class="item-wrap">
									<%= email_field_tag 'users[email]', '', class: "text", placeholder: "e.g.: you@you.com" %>				
								</span>
							</p>						
							<p class="item-row">
								<span class="item-label">
									Password
								</span>
								<span class="item-wrap">
									<%= password_field_tag 'users[password]', '', class: "text", placeholder: "yourpassword" %>
								</span>
							</p>						
							<p class="item-row">
								<span class="item-label">
									Repeat Password
								</span>
								<span class="item-wrap">
									<%= password_field_tag 'users[password_confirmation]', '', class: "text", placeholder: "yourpassword" %>		
								</span>
							</p>						
							<p class="item-row">
								<span class="item-label">&nbsp;</span>
								<span class="item-wrap agreement-wrap">
									<%= check_box_tag "agreement", 'yes', false %>
									<span class="agreement-label">By clicking this, I agree with Travees' <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
								</span>
							</p>
							<p class="item-row">
								<span class="item-label">&nbsp;</span>
								<span class="item-wrap">
									<%= submit_tag "Sign Up", class: "button big" %>
								</span>
							</p>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div><!-- .row -->
	</div><!-- .wrap -->
</div><!-- #body.outer-wrap -->