<div id="body" class="wrap-outer">
	<% if flash.notice %>
	<div id="notice">
		<p><%= t('register_successful') %></p>
	</div>
	<% end %>
    <div class="wrap">
        <div class="row">
            <div class="column one-third">
                <div class="section fixed-height">
                    <div class="section-header">
                        <h2 class="section-title">Hi <%= @username %>, <span class="extension">welcome back</span></h2>
                    </div><!-- .section-header -->

                    <div id="welcome-back-panel" class="overview-panel">
                        <div class="overview-row">
                            <a href="#" class="overview-column">
                                <span class="number">15</span>
                                <span class="label">Iteneraries</span>
                            </a><!-- .overview-column -->
                            <a href="#" class="overview-column last">
                                <span class="number">24</span>
                                <span class="label">To-Dos</span>
                            </a><!-- .overview-column -->
                        </div><!-- .overview-row -->
                        <div class="overview-row">
                            <a href="#" class="overview-column">
                                <span class="number">241</span>
                                <span class="label">Following</span>
                            </a><!-- .overview-column -->
                            <a href="#" class="overview-column last">
                                <span class="number">1,456</span>
                                <span class="label">Followers</span>
                            </a><!-- .overview-column -->
                        </div><!-- .overview-row -->                            
                    </div><!-- .overview-panel -->

                    <div class="section-action">
                        <div class="inside">
                            <%= link_to "Add Itinerary", new_itinerary_path, class: "button big" %>
                        </div><!-- .inside -->
                    </div><!-- .section-action -->
                </div><!-- .section.fixed-height-->

                <div class="section fixed-height">
                    <div class="section-header">
                        <h2 class="section-title">Quicklinks</h2>
                    </div>
                    <ul id="quicklinks-menu">
                        <li class="active">
                            <a href="#">
                                <span class="icon faved">&nbsp;</span>
                                <span class="label">Faved</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon trending">&nbsp;</span>
                                <span class="label">Trending</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon nearby">&nbsp;</span>
                                <span class="label">Nearby</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon random">&nbsp;</span>
                                <span class="label">Random</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon findfriends">&nbsp;</span>
                                <span class="label">Find Friends</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon thingsyouwant">&nbsp;</span>
                                <span class="label">Things You Want</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon thingsyouvedone">&nbsp;</span>
                                <span class="label">Things You've Done</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column two-third last">
                <div class="section overlap-footer">
                    <div class="section-header">
                        <h2 class="section-title">Global Feed</h2>
                    </div><!-- .section-header -->
                    <div class="section-body">
                        <div id="stream">
                            <div class="item">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <h2 class="title"><a href="#">Awesome Things That Can Be Done in Kota Tua</a></h2>
                                    <p class="meta">In <span class="city">Jakarta</span>. 38 km away from you. <br> Budget: IDR 290,000</p>
                                </div><!-- .item-content -->
                                <div class="item-thumb">
                                    <a href="" class="thumb">
                                        <img src="/assets/static/thumb-1.jpg" alt="">
                                    </a>
                                </div><!-- .item-thumb -->
                            </div><!-- .item -->
                            <div class="item">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <h2 class="title"><a href="#">The Hidden Waterfall of Semenanjuk, North Bali</a></h2>
                                    <p class="meta">In <span class="city">Bali</span>. 538 km away from you. <br> Budget: IDR 50,000</p>
                                </div><!-- .item-content -->
                                <div class="item-thumb">
                                    <a href="" class="thumb">
                                        <img src="/assets/static/thumb-1.jpg" alt="">
                                    </a>
                                </div><!-- .item-thumb -->
                            </div><!-- .item -->
                            <div class="item activity">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <p class="meta">Have done <a href="">watching live balinese dance performance at Sanggar Sekar Ayu</a></p>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item activity">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <p class="meta">Commented on <a href="">Commented on Backpacking Bandung - Bali - Lombok - NTT - Raja Ampat in 2 Weeks</a></p>
                                    <div class="excerpt">
                                        <p>The proper OST for this trip would be Banda Neira's Berjalan Lebih Jauh :))) That was a trip!</p>
                                    </div>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item activity">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <p class="meta">Added <a href="">Scuba Diving in Kurama Beach</a> to his itenerary <a href="">Bali - Lombok Trip 2014</a></p>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item no-thumb">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <h2 class="title"><a href="#">How To Enjoy Bandung For Geeks</a></h2>
                                    <p class="meta">In <span class="city">Bandung</span>. 120 km away from you. <br> Budget: IDR 10,000</p>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item no-thumb">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <h2 class="title"><a href="#">Conquering America, One State At The Time, From Bar-To-Bar Like A Freaking Man of Steel Looking For His Shuttle Space, The Hipster Way</a></h2>
                                    <p class="meta">In <span class="city">Kansas City</span>. 2320 km away from you. <br> Budget: USD 13,000</p>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <h2 class="title"><a href="#">I'm A Super Freakin Long Title Itenerary With Thumbnail And All The Awesomeness Withing That Should Be Viewed Right From The Inside</a></h2>
                                    <p class="meta">In <span class="city">Lombok</span>. 538 km away from you. <br> Budget: IDR 50,000</p>
                                </div><!-- .item-content -->
                                <div class="item-thumb">
                                    <a href="" class="thumb">
                                        <img src="/assets/static/thumb-1.jpg" alt="">
                                    </a>
                                </div><!-- .item-thumb -->
                            </div><!-- .item -->
                            <div class="item activity">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <p class="meta">Have done <a href="">watching live balinese dance performance at Sanggar Sekar Ayu</a></p>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <div class="item activity">
                                <div class="item-avatar">
                                    <a href="#" class="avatar">
                                        <img src="/assets/static/avatar-75.jpg" alt="avatar">
                                    </a>                                        
                                </div><!-- .item-avatar -->
                                <div class="item-content">
                                    <p class="meta">Commented on <a href="">Commented on Backpacking Bandung - Bali - Lombok - NTT - Raja Ampat in 2 Weeks</a></p>
                                    <div class="excerpt">
                                        <p>The proper OST for this trip would be Banda Neira's Berjalan Lebih Jauh :))) That was a trip!</p>
                                    </div>
                                </div><!-- .item-content -->
                            </div><!-- .item -->
                            <a href="#" class="load-more">Load More</a>
                        </div><!-- #stream -->
                    </div><!-- .section-body -->
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .wrap -->
</div><!-- .container -->