.sprites-sprite, .vote-item a.down .icon, .vote-item a.down:hover .icon, .vote-item a.down:active .icon, .vote-item a.up .icon, .vote-item a.up:hover .icon, .vote-item a.up:active .icon, #signin-facebook, #signin-facebook:hover, #signin-facebook:active, #signin-twitter, #signin-twitter:hover, #signin-twitter:active, .social-icon.facebook, .social-icon.facebook.gray, .social-icon.facebook:hover, .social-icon.twitter, .social-icon.twitter.gray, .social-icon.twitter:hover, .social-icon.instagram, .social-icon.instagram.gray, .social-icon.instagram:hover, .social-icon.rss, .social-icon.rss.gray, .social-icon.rss:hover, #modal-close, #modal-close:hover, #modal-close:active, #site-name a, #top-menu li .sub-menu:before, #top-menu .menu-notification:after, #top-menu-search .icon, #top-menu-new .icon, #top-menu-user .icon, #top-menu-settings .icon, #cards .card .meta .actions li a.discuss .icon, #cards .card .meta .actions li a.discuss:hover .icon, #cards .card .meta .actions li a.discuss:active .icon, #cards .card .meta .actions li a.done .icon, #cards .card .meta .actions li a.done:hover .icon, #cards .card .meta .actions li a.done:active .icon, #cards .card .meta .actions li a.want .icon, #cards .card .meta .actions li a.want:hover .icon, #cards .card .meta .actions li a.want:active .icon, #add-new .map-rows .map-pin, #quicklinks-menu a .icon.faved, #quicklinks-menu a .icon.trending, #quicklinks-menu a .icon.nearby, #quicklinks-menu a .icon.random, #quicklinks-menu a .icon.findfriends, #quicklinks-menu a .icon.thingsyouwant, #quicklinks-menu a .icon.thingsyouvedone, #quicklinks-menu li.active .icon.faved, #quicklinks-menu li:hover .icon.faved, #quicklinks-menu li.active .icon.trending, #quicklinks-menu li:hover .icon.trending, #quicklinks-menu li.active .icon.nearby, #quicklinks-menu li:hover .icon.nearby, #quicklinks-menu li.active .icon.random, #quicklinks-menu li:hover .icon.random, #quicklinks-menu li.active .icon.findfriends, #quicklinks-menu li:hover .icon.findfriends, #quicklinks-menu li.active .icon.thingsyouwant, #quicklinks-menu li:hover .icon.thingsyouwant, #quicklinks-menu li.active .icon.thingsyouvedone, #quicklinks-menu li:hover .icon.thingsyouvedone, #signin .or, .itenerary .itenerary-todos .todo.suggest .icon, .itenerary .itenerary-todos .todo.suggest:hover .icon, .itenerary .itenerary-todos .todo.suggest:active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.comment .icon, .itenerary .itenerary-todos .todo .todo-actions li a.comment:hover .icon, .itenerary .itenerary-todos .todo .todo-actions li a.comment .active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.comment:active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.done .icon, .itenerary .itenerary-todos .todo .todo-actions li a.done:hover .icon, .itenerary .itenerary-todos .todo .todo-actions li a.done:active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.done.selected .icon, .itenerary .itenerary-todos .todo .todo-actions li a.want .icon, .itenerary .itenerary-todos .todo .todo-actions li a.want:hover .icon, .itenerary .itenerary-todos .todo .todo-actions li a.want:active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.want.selected .icon, .itenerary .itenerary-todos .todo .todo-actions li a.add .icon, .itenerary .itenerary-todos .todo .todo-actions li a.add:hover .icon, .itenerary .itenerary-todos .todo .todo-actions li a.add:active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.add.selected .icon, .itenerary .itenerary-todos .todo .todo-actions li a.more .icon, .itenerary .itenerary-todos .todo .todo-actions li a.more:hover .icon, .itenerary .itenerary-todos .todo .todo-actions li a.more.active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.more:active .icon, .itenerary .itenerary-todos .todo .todo-details .budget .icon, .itenerary .itenerary-todos .todo .todo-details .tag .icon, .itenerary .itenerary-actions a.facebook .icon, .itenerary .itenerary-actions a.facebook:hover .icon, .itenerary .itenerary-actions a.twitter .icon, .itenerary .itenerary-actions a.twitter:hover .icon, .itenerary .itenerary-actions a.offline .icon, .itenerary .itenerary-actions a.offline:hover .icon, #itenerary-meta li.author .icon, #itenerary-meta li.location .icon, #itenerary-meta li.wishlisted .icon, #itenerary-meta li.done .icon, #itenerary-meta li.budget .icon, #itenerary-meta li.tag .icon {
  background: url('/assets/sprites-sce5ac9752f.png') no-repeat;
}

.sprites-x-sprite {
  background: url('/assets/sprites-x-s383663540f.png') no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Lato';
  src: url("/assets/lato-light.eot?") format("eot"), url("/assets/lato-light.woff") format("woff"), url("/assets/lato-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato';
  src: url("/assets/lato-light-italic.eot?") format("eot"), url("/assets/lato-light-italic.woff") format("woff"), url("/assets/lato-light-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("/assets/lato-bold.eot?") format("eot"), url("/assets/lato-bold.woff") format("woff"), url("/assets/lato-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url("/assets/lato-bold-italic.eot?") format("eot"), url("/assets/lato-bold-italic.woff") format("woff"), url("/assets/lato-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

body {
  background: #f7f7f7;
  color: #8a8a8a;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #8a8a8a;
}

.container {
  width: 100%;
}

.wrap {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
}

.centered {
  float: none !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.row {
  display: block;
  width: 100%;
}
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.row .column {
  float: left;
  margin-right: 20px;
}
.row .column.one-third {
  width: 320px;
}
.row .column.two-third {
  width: 660px;
}
.row .column.three-third {
  width: 1000px;
  margin-right: 0;
}
.row .column.last {
  margin-right: 0;
}

.section {
  width: 100%;
  background: white;
  box-shadow: 0 0 5px 0 #d7d7d7;
  margin-bottom: 20px;
  position: relative;
}
.section.fixed-height {
  height: 393px;
}
.section.fixed-height-double {
  height: 806px;
}
.section.overlap-header {
  margin-top: -40px;
}
.section.overlap-footer {
  margin-bottom: -40px;
}
.section .section-header {
  padding: 25px;
  border-bottom: 1px solid #efefef;
}
.section .section-header .section-title {
  text-transform: uppercase;
  color: #524a48;
}
.section .section-header .section-title .keyword {
  font-weight: bold;
}
.section .section-header .section-title .extension {
  text-transform: none;
  color: #bebebe;
  font-size: .7em;
}
.section .section-header .section-title .extension a {
  color: #bebebe;
}
.section .section-header .section-title .extension a:hover {
  text-decoration: underline;
}
.section .section-header .section-title .extension .ffSelectWrapper {
  border-radius: 0;
  border: none;
  width: auto;
}
.section .section-header .section-title .extension .ffSelectWrapper a {
  background: url(/assets/select.png) 100% 0 no-repeat;
  color: #bebebe;
}
.section .section-header .section-title .extension .ffSelectWrapper a:active {
  background-position: 100% -29px;
}
.section .section-header .section-title .extension .ffSelectWrapper a:hover {
  background-position: 100% -58px;
}
.section .section-header .section-title .extension .ffSelectWrapper a span {
  color: #bebebe;
  padding-left: 0;
  padding-right: 0;
  background: none;
  width: auto;
  margin-right: 20px;
}
.section .section-header .section-title .extension .ffSelectWrapper .ffSelectMenuWrapper {
  color: #524a48;
}
.section .section-header .section-title .extension .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuTop,
.section .section-header .section-title .extension .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuBottom {
  display: none;
}
.section .section-header .section-title .extension .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMidBG {
  background: none;
}
.section .section-header .section-title .extension .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMid {
  background: none;
  border: 1px solid #efefef;
  margin-right: 0;
  padding-left: 0;
}
.section .section-body.scrolled-items {
  overflow: scroll;
  height: 710px;
  -moz-box-shadow: inset 0px -3px 15px #efefef;
  -webkit-box-shadow: inset 0px -3px 15px #efefef;
  box-shadow: inset 0px -3px 15px #efefef;
}
.section .section-body.scrolled-items .item {
  display: block;
  padding: 10px 20px;
  font-size: .8em;
  line-height: 1.4;
  border-bottom: 1px solid #efefef;
}
.section .section-body.scrolled-items .item a {
  font-weight: bold;
}
.section .section-body.scrolled-items .item a:hover {
  text-decoration: underline;
}
.section .section-body.scrolled-items .item p {
  margin-bottom: 10px;
}
.section .section-body.scrolled-items .item .meta {
  font-size: .8em;
}
.section .section-body.scrolled-items .item .vote-item {
  padding: 10px 0;
}
.section .section-body.scrolled-items .item .vote-item .down .label {
  display: none;
}
.section .section-body textarea {
  display: block;
  width: 255px;
  height: 150px;
  margin-top: 5px;
}
.section .section-body .character-count {
  font-size: .6em;
  color: #777;
  margin-top: 15px;
}
.section .section-body .rows-title {
  color: #524a48;
  text-transform: uppercase;
  padding: 20px 25px;
  border-bottom: 1px solid #efefef;
}
.section .section-body .item-rows {
  padding: 50px 0;
}
.section .section-body .item-rows.row-list .item-wrap {
  padding: 15px 0;
}
.section .section-body .item-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.section .section-body .item-row.border-bottom {
  border-bottom: 1px solid #efefef;
}
.section .section-body .item-row .item-label {
  float: left;
  width: 150px;
  margin-right: 20px;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.section .section-body .item-row .item-wrap {
  float: left;
  width: 470px;
}
.section .section-action {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section .section-action:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.section .inside {
  padding: 20px;
}
.section .inside.desc {
  line-height: 1.5;
}
.section .inside.desc a:hover {
  text-decoration: underline;
}
.section .inside.desc p {
  margin-bottom: 20px;
}
.section .inside.desc .meta {
  font-size: .7em;
}
.section .inside.desc .meta a {
  font-weight: bold;
  color: #524a48;
}

.overview-row {
  display: block;
  width: 100%;
  border-bottom: 1px solid #efefef;
}
.overview-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.overview-row .overview-column {
  float: left;
  width: 159px;
  height: 119px;
  border-right: 1px solid #efefef;
  text-align: center;
}
.overview-row .overview-column.last {
  width: 160px;
  border-right: none;
}
.overview-row .overview-column span {
  display: block;
}
.overview-row .overview-column .number {
  font-size: 1.5em;
  color: #8a8a8a;
  margin: 39px 0 20px;
}
.overview-row .overview-column .label {
  font-size: .8em;
  color: #bebebe;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border: none;
  background: #b0c832;
  box-shadow: 0 3px 0 0 #a0ae54;
  color: white;
  text-transform: uppercase;
  font-size: .7em;
  padding: 13px 20px 12px;
  border-radius: 5px;
  height: 14px;
  cursor: pointer;
}
.button.big {
  display: block;
}
.button:hover {
  background: #a7be30;
}
.button:active {
  background: #a0ae54;
  box-shadow: 0 3px 0 0 #8ea128;
}
.button .count {
  background: #9db32b;
  height: 14px;
  display: inline-block;
  border-radius: 10px;
  padding: 3px 7px;
  border-radius: 10px;
  margin-top: -5px;
  margin-left: 2px;
}
.button.danger {
  background: #c84732;
  box-shadow: 0 3px 0 0 #722b1a;
  color: white;
}
.button.danger:hover {
  background: #ac3e2c;
}
.button.danger:active {
  background: #722b1a;
  box-shadow: 0 3px 0 0 #522014;
}
.button.calm {
  background: #dedede;
  box-shadow: 0 3px 0 0 #bebebe;
}
.button.calm:hover {
  background: #cfcfcf;
}
.button.calm:active {
  background: #bebebe;
  box-shadow: 0 3px 0 0 #cfcfcf;
}

button.button,
input.button {
  padding-top: 10px;
  padding-bottom: 25px;
}

form input[type="radio"],
form label {
  cursor: pointer;
  vertical-align: middle;
}

.list {
  font-size: .8em;
  line-height: 1.4;
  margin: 10px;
}
.list li {
  margin-bottom: 20px;
}
.list li .meta {
  display: block;
  font-size: .75em;
  color: #dedede;
}
.list li .meta a {
  font-style: italic;
  color: #dedede;
}
.list a:hover {
  text-decoration: underline;
}
.list.has-meta li {
  margin-bottom: 5px;
}
.list.no-style li {
  list-style: none;
}
.list.people {
  margin-left: 0;
  margin-top: 0;
}
.list.people li {
  line-height: 1.2;
  margin-bottom: 8px;
}
.list.people li .thumb {
  float: left;
  margin-right: 10px;
}
.list.settings {
  margin: 0;
}
.list.settings li {
  margin-bottom: 0;
  border-bottom: 1px solid #efefef;
}
.list.settings li a {
  display: block;
  padding: 10px 20px;
}

.settings-actions {
  text-align: right;
  margin: 20px 25px 0;
}

ol.list li {
  margin-left: 20px;
  list-style: decimal;
}

.vote-item {
  font-size: .7em;
  font-size: 16px;
  font-style: italic;
  padding: 20px;
}
.vote-item a {
  font-weight: normal !important;
}
.vote-item a:hover {
  text-decoration: none !important;
}
.vote-item a span {
  vertical-align: middle;
}
.vote-item a .icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-indent: -99999em;
  margin-right: 3px;
}
.vote-item a.down .label {
  margin-right: 20px;
}
.vote-item a.down .icon {
  background-position: 0 -829px;
}
.vote-item a.down:hover .icon {
  background-position: 0 -855px;
}
.vote-item a.down:active .icon {
  background-position: 0 -803px;
}
.vote-item a.up .icon {
  background-position: 0 -938px;
}
.vote-item a.up:hover .icon {
  background-position: 0 -1058px;
}
.vote-item a.up:active .icon {
  background-position: 0 -912px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  color: #8a8a8a;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 16px;
  line-height: 1.2;
  border: 2px solid #cfcfcf;
  resize: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #8ea128;
}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #dedede;
  font-style: italic;
}
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder {
  /* Firefox 18- */
  color: #dedede;
  font-style: italic;
}
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #dedede;
  font-style: italic;
}
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  color: #dedede;
  font-style: italic;
}

#signin-facebook {
  display: inline-block;
  background-position: 0 -152px;
  width: 278px;
  height: 44px;
  text-indent: -99999em;
}
#signin-facebook:hover {
  background-position: 0 -196px;
}
#signin-facebook:active {
  background-position: 0 -240px;
}

#signin-twitter {
  display: inline-block;
  background-position: 0 -88px;
  width: 278px;
  height: 44px;
  text-indent: -99999em;
}
#signin-twitter:hover {
  background-position: 0 -44px;
}
#signin-twitter:active {
  background-position: 0 0;
}

.styled-content {
  line-height: 1.8;
}
.styled-content h1, .styled-content h2, .styled-content h3, .styled-content h4, .styled-content h5 {
  line-height: 1.4;
  margin-bottom: 20px;
  color: #524a48;
}
.styled-content h1 {
  font-size: 2em;
}
.styled-content h2 {
  font-size: 1.5em;
}
.styled-content h3 {
  font-size: 1.25em;
  line-height: 1.6;
}
.styled-content h4 {
  font-size: .8em;
  line-height: 1.8;
  text-transform: uppercase;
}
.styled-content p {
  margin-bottom: 40px;
}
.styled-content a {
  text-decoration: underline;
  color: #524a48;
}
.styled-content a:hover {
  color: #8ea128;
}
.styled-content em {
  font-style: italic;
}
.styled-content strong {
  font-weight: bold;
}
.styled-content blockquote {
  margin-bottom: 40px;
  font-style: italic;
  color: #cfcfcf;
  font-size: 1.5em;
  padding: 20px 40px;
  margin: 40px 0 40px;
  line-height: 1.3;
  border-left: 5px solid #dedede;
}
.styled-content blockquote p:last-child {
  margin-bottom: 0;
}
.styled-content ul, .styled-content ol {
  margin-bottom: 40px;
}
.styled-content ul li, .styled-content ol li {
  margin: 0 0 20px 25px;
}
.styled-content ol li {
  list-style: decimal;
}
.styled-content ul li {
  list-style: disc;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -999999em;
}
.social-icon.facebook {
  background-position: 0 -1549px;
}
.social-icon.facebook.gray {
  background-position: 0 -1776px;
}
.social-icon.facebook:hover {
  background-position: 0 -1581px;
}
.social-icon.twitter {
  background-position: 0 -1148px;
}
.social-icon.twitter.gray {
  background-position: 0 -1391px;
}
.social-icon.twitter:hover {
  background-position: 0 -1180px;
}
.social-icon.instagram {
  background-position: 0 -1084px;
}
.social-icon.instagram.gray {
  background-position: 0 -1296px;
}
.social-icon.instagram:hover {
  background-position: 0 -1116px;
}
.social-icon.rss {
  background-position: 0 -284px;
}
.social-icon.rss.gray {
  background-position: 0 -616px;
}
.social-icon.rss:hover {
  background-position: 0 -316px;
}

#cover-background {
  display: block;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}
#cover-background img {
  width: 100%;
}

.wrap-outer {
  position: relative;
  z-index: 100;
}

#footer {
  z-index: 90;
}

.ui-autocomplete {
  background: white;
  border-right: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  border-left: 2px solid #cfcfcf;
}
.ui-autocomplete .ui-menu-item {
  display: block;
}
.ui-autocomplete .ui-menu-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui-autocomplete .ui-menu-item a {
  display: block;
  padding: 10px 10px;
  font-size: .8em;
}
.ui-autocomplete .ui-state-active,
.ui-autocomplete .ui-widget-content .ui-state-active,
.ui-autocomplete .ui-widget-header .ui-state-active {
  border-left: none !important;
  border-right: none !important;
}

.ui-autocomplete-loading {
  background: url("/assets/loading-autocomplete.gif") no-repeat right center white;
}

.select-currency-wrap .ffSelectWrapper {
  width: 57px;
}
.select-currency-wrap .ffSelectWrapper .ffSelect .ffSelectButton {
  background: url(/assets/select.png) 100% -29px no-repeat;
}
.select-currency-wrap .ffSelectWrapper .ffSelect .ffSelectButton:active {
  background-position: 100% -58px;
}
.select-currency-wrap .ffSelectWrapper .ffSelect .ffSelectButton:hover {
  background-position: 100% -87px;
}
.select-currency-wrap .ffSelectWrapper .ffSelect .ffSelectButton span {
  background: transparent;
  margin-right: 10px;
}
.select-currency-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuTop,
.select-currency-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuBottom {
  display: none;
}
.select-currency-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMidBG {
  background: none;
}
.select-currency-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMid {
  background: none;
  border: 1px solid #efefef;
  margin-right: 0;
  padding-left: 0;
}

.upload-image-wrap {
  text-align: center;
  padding-bottom: 10px;
}
.upload-image-wrap .trigger {
  display: block;
}
.upload-image-wrap .trigger:hover {
  color: #a7be30;
}
.upload-image-wrap .trigger:active {
  color: #a0ae54;
}
.upload-image-wrap .remove {
  display: none;
  font-size: .9em;
}
.upload-image-wrap .remove:hover {
  color: #ac3e2c;
}
.upload-image-wrap .remove:active {
  color: #722b1a;
}
.upload-image-wrap .field-upload {
  display: none;
}
.upload-image-wrap .preview-image {
  display: none;
  width: 75px;
  padding: 3px 3px 1px;
  border: 1px solid #efefef;
  margin: 10px auto 5px;
}
.upload-image-wrap .preview-image img {
  width: 100%;
}

.custom-select-wrap .ffSelectWrapper {
  margin: 0;
}
.custom-select-wrap .ffSelectWrapper .ffSelect .ffSelectButton {
  background: url(/assets/select.png) 97% -29px no-repeat #f6f6f6;
  border: 2px solid #cfcfcf;
  height: 30px !important;
}
.custom-select-wrap .ffSelectWrapper .ffSelect .ffSelectButton:active {
  background-position: 97% -58px;
}
.custom-select-wrap .ffSelectWrapper .ffSelect .ffSelectButton:hover {
  background-position: 97% -87px;
}
.custom-select-wrap .ffSelectWrapper .ffSelect .ffSelectButton span {
  background: #f6f6f6;
  border-right: 1px solid #cfcfcf;
  margin-right: 30px;
  height: 30px !important;
}
.custom-select-wrap .ffSelectWrapper .ffSelectMenuWrapper {
  background: red;
}
.custom-select-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuTop {
  display: none;
}
.custom-select-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMid {
  padding-left: 0;
  margin-right: 0;
  border-right: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  border-left: 2px solid #cfcfcf;
}
.custom-select-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuMid li {
  background: #f6f6f6;
}
.custom-select-wrap .ffSelectWrapper .ffSelectMenuWrapper .ffSelectMenuBottom {
  display: none;
}

.scrollable.scrolled-items {
  padding-right: 17px;
}
.scrollable.scrolled-items .scroll-bar {
  background-color: #f7f7f7;
}
.scrollable.scrolled-items .scroll-bar .thumb {
  background: url(/assets/scroll-pattern.png) center center no-repeat #c9c7c7;
}
.scrollable.scrolled-items .scroll-bar:hover .thumb {
  background: url(/assets/scroll-pattern.png) center center no-repeat #bebebe;
}
.scrollable.scrolled-items .scroll-bar.vertical {
  width: 10px;
}
.scrollable.scrolled-items .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}

#modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1400;
}

#modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  z-index: 1500;
  opacity: .8;
}

#modal {
  display: block;
  position: absolute;
  background: white;
  z-index: 1600;
  padding: 6px;
  border: 4px solid #cfcfcf;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

#modal-close {
  display: inline-block;
  background-position: 0 -2175px;
  width: 19px;
  height: 19px;
  text-indent: -99999em;
  position: absolute;
  top: 10px;
  right: 10px;
}
#modal-close:hover {
  background-position: 0 -2125px;
}
#modal-close:active {
  background-position: 0 -2144px;
}

ul.tagit {
  padding: 1px 5px;
  overflow: auto;
  margin-left: inherit;
  /* usually we don't want the regular ul margins. */
  margin-right: inherit;
}

ul.tagit li {
  display: block;
  float: left;
  font-size: .7em;
  margin: 0 5px 5px 0;
}

ul.tagit li.tagit-choice {
  position: relative;
  line-height: inherit;
}

ul.tagit li.tagit-choice-read-only {
  padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
  padding: .2em 18px .2em .5em;
}

ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
  line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}

ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

ul.tagit input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}

/* Optional scoped theme for tag-it which mimics the zendesk widget. */
ul.tagit {
  background: inherit;
}

ul.tagit li.tagit-choice {
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #CAD8F3;
  background: none;
  background-color: #DEE7F8;
  font-weight: normal;
}

ul.tagit li.tagit-choice .tagit-label:not(a) {
  color: #555;
}

ul.tagit li.tagit-choice a.tagit-close {
  text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
  right: .4em;
}

ul.tagit li.tagit-choice .ui-icon {
  display: none;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: inline;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #777;
}

ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
  background-color: #bbcef1;
  border-color: #6d95e0;
}

ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
  color: #222;
}

ul.tagit input[type="text"] {
  color: #333333;
  background: none;
}

.ui-widget {
  font-size: 1.1em;
}

/*
 * jQuery UI CSS Framework 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * jQuery UI Autocomplete 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

/*
 * jQuery UI CSS Framework 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */
/* Component containers
----------------------------------*/
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #dadada;
  font-weight: normal;
  color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #212121;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: white;
  font-weight: normal;
  color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_888888_256x240.png);
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.ui-icon-blank {
  background-position: 16px 16px;
}

.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-on {
  background-position: -96px -144px;
}

.ui-icon-radio-off {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #dedede;
}

* {
  margin: 0;
  padding: 0;
}

.ffTextBoxWrapper,
.ffPasswordWrapper,
.ffCheckboxWrapper,
.ffRadioWrapper,
.ffTextAreaWrapper,
.ffSubmitWrapper,
.ffResetWrapper,
.ffButtonWrapper {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px 0;
}

.ffSelectWrapper {
  display: inline-block;
  zoom: 1;
  margin: 5px 0;
}

.ffTextBoxLeft, .ffTextBoxRight,
.ffPasswordLeft, .ffPasswordRight,
.ffCheckbox, .ffRadio, .ffSelectButton, .ffSelectButton span,
.ffSelectMenuWrapper div.ffSelectMenuTop,
.ffSelectMenuWrapper div.ffSelectMenuBottom,
.ffSelectMenuWrapper > div > span,
.ffTextAreaTop, .ffTextAreaTop span,
.ffTextAreaBottom, .ffTextAreaBottom span,
.ffSubmitWrapper a, .ffSubmitWrapper a span,
.ffResetWrapper a, .ffResetWrapper a span,
.ffButtonWrapper a, .ffButtonWrapper a span {
  background-image: url(/assets/fancyfields/sprite.png);
  background-repeat: no-repeat;
}

/* text box */
.ffTextBoxRight, .ffPasswordRight {
  background-position: right -256px;
  padding-right: 5px;
}

.ffTextBoxLeft, .ffPasswordLeft {
  background-position: 0 0;
  padding: 0 5px 0 10px;
}

.ffTextBoxLeft input, .ffPasswordLeft input {
  border: 0;
  height: 28px;
  background-color: transparent;
  margin-top: 6px\9;
  height: 22px\9;
}

.ffTextBoxRight:hover,
.ffPasswordRight:hover {
  background-position: right -288px;
}

.ffTextBoxLeft:hover,
.ffPasswordLeft:hover {
  background-position: 0 -32px;
}

.focus .ffTextBoxRight,
.focus .ffPasswordRight {
  background-position: right -320px;
}

.focus .ffTextBoxLeft,
.focus .ffPasswordLeft {
  background-position: 0 -64px;
}

.ffTextBoxWrapper.disabled .ffTextBoxRight,
.ffPasswordWrapper.disabled .ffPasswordRight {
  background-position: right -352px;
}

.ffTextBoxWrapper.disabled .ffTextBoxLeft,
.ffPasswordWrapper.disabled .ffPasswordLeft {
  background-position: 0 -96px;
  color: #999;
}

/* checkbox */
.ffCheckboxWrapper a {
  text-decoration: none;
  color: #6F6F6F;
  position: relative;
  top: 1px;
  font-size: 14px;
  padding-left: 5px;
  margin-right: 10px;
}

.ffCheckbox {
  width: 21px;
  height: 21px;
  float: left;
  background-position: 0 -288px;
  cursor: pointer;
}

.ffCheckboxWrapper:hover a, .ffCeckboxWrapper.focus a {
  color: #4e4e4e;
}

.ffCheckboxWrapper:hover .ffCheckbox, .ffCeckboxWrapper.focus .ffCheckbox {
  background-position: -30px -288px;
}

.ffCheckboxWrapper.on .ffCheckbox {
  background-position: -60px -288px;
}

.ffCheckboxWrapper.on:hover .ffCheckbox, .ffCeckboxWrapper.on.focus .ffCheckbox {
  background-position: -90px -288px;
}

.ffCheckboxWrapper.disabled .ffCheckbox {
  background-position: -120px -288px;
}

.ffCheckboxWrapper.on.disabled .ffCheckbox {
  background-position: -150px -288px;
}

.ffCheckboxWrapper.disabled a, .ffCeckboxWrapper.disabled:hover a, .ffCeckboxWrapper.disabled.focus a {
  color: #999;
}

/* radio */
.ffRadioWrapper a {
  text-decoration: none;
  color: #555;
  position: relative;
  top: 1px;
  font-size: 14px;
  padding-left: 5px;
  margin-right: 10px;
}

.ffRadio {
  width: 18px;
  height: 18px;
  float: left;
  background-position: -180px -288px;
  cursor: pointer;
}

.ffRadioWrapper:hover a, .ffRadioWrapper.focus a {
  color: #4e4e4e;
}

.ffRadioWrapper:hover .ffRadio, .ffRadioWrapper.focus .ffRadio {
  background-position: -210px -288px;
}

.ffRadioWrapper.on .ffRadio {
  background-position: -240px -288px;
}

.ffRadioWrapper.on:hover .ffRadio, .ffRadioWrapper.on.focus .ffRadio {
  background-position: -270px -288px;
}

.ffRadioWrapper.disabled .ffRadio {
  background-position: -300px -288px;
}

.ffRadioWrapper.on.disabled .ffRadio {
  background-position: -330px -288px;
}

.ffRadioWrapper.disabled a, .ffRadioWrapper.disabled:hover a, .ffRadioWrapper.disabled.focus a {
  color: #999;
}

/* selectbox */
.ffSelectWrapper {
  width: 200px;
  *clear: both;
}

.ffSelect {
  position: relative;
}

.ffSelect > a {
  background-position: right -128px;
  display: block;
  text-decoration: none;
  outline: 0;
  cursor: default;
}

.ffSelect > a > span {
  display: block;
  height: 28px;
  margin-right: 40px;
  padding-left: 10px;
  background-position: 0 0;
  overflow: hidden;
  line-height: 28px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  *white-space: normal;
  text-overflow: ellipsis;
}

.ffSelect:hover > a, .ffSelectWrapper.focus .ffSelect > a {
  background-position: right -160px;
}

.ffSelect:hover > a > span, .ffSelectWrapper.focus .ffSelect > a > span {
  background-position: 0 -32px;
}

.ffSelectWrapper.active .ffSelect > a {
  background-position: right -192px;
  z-index: 1005;
  position: relative;
}

.ffSelectWrapper.active .ffSelect > a > span {
  background-position: 0 -64px;
}

.ffSelectWrapper.disabled .ffSelect > a {
  background-position: right -224px;
}

.ffSelectWrapper.disabled .ffSelect > a > span {
  background-position: 0 -96px;
  color: #999;
}

.ffSelectMenuWrapper {
  width: 100%;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG ul {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li {
  padding: 5px;
  cursor: default;
  background-color: #fff;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li SPAN {
  font-size: 14px;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.disabled SPAN {
  color: #888;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.on {
  background-color: #ccc;
}

.ffSelectMenuTop {
  height: 5px;
  background-position: 0 -394px;
}

.ffSelectMenuTop span {
  display: block;
  height: 5px;
  margin-left: 8px;
  background: right -384px;
}

.ffSelectMenuBottom {
  height: 5px;
  background-position: 0 -414px;
}

.ffSelectMenuBottom span {
  display: block;
  height: 5px;
  margin-left: 8px;
  background-position: right -404px;
}

.ffSelectMenuMidBG {
  background: url(/assets/fancyfields/sides.png) repeat-y right 0;
}

.ffSelectMenuMid {
  max-height: 200px;
  overflow: auto;
  background: url(/assets/fancyfields/sides.png) repeat-y 0 0;
  padding-left: 4px;
  margin-right: 4px;
}

.scrollingBarWrapper {
  width: 24px;
  height: 200px;
  background: url(/assets/fancyfields/scrollingBarBg.png) no-repeat;
  right: 3px!important;
}

.scrollingHandle {
  width: 24px;
  padding-top: 20px;
  background: url(/assets/fancyfields/scrollingHandleTop.png) no-repeat 0 0;
}

.scrollingHandleBottom {
  width: 24px;
  background: url(/assets/fancyfields/scrollingHandleBottom.png) no-repeat 0px bottom;
}

/* textarea */
.ffTextAreaWrapper textarea {
  border: 0;
  margin: 10px 10px 10px 15px;
  padding: 0;
  font-size: 14px;
  color: #555;
  background: none;
  font-family: Arial;
  resize: none;
}

.ffTextAreaTop {
  height: 5px;
  background-position: 0 -394px;
}

.ffTextAreaTop span {
  display: block;
  height: 5px;
  margin-left: 8px;
  background-position: right -384px;
}

.ffTextAreaMid {
  background: transparent url(/assets/fancyfields/sides.png) repeat-y right 0;
}

.ffTextAreaMid .ffTextAreaLeft {
  background: url(/assets/fancyfields/sides.png) repeat-y 0 0;
  margin-right: 4px;
}

.ffTextAreaBottom {
  height: 5px;
  background-position: 0 -414px;
}

.ffTextAreaBottom span {
  display: block;
  height: 5px;
  margin-left: 6px;
  background-position: right -404px;
}

/* button */
.ffButtonWrapper > a {
  background-position: right -585px;
  display: block;
  text-decoration: none;
  outline: 0;
}

.ffButtonWrapper > a > span {
  display: block;
  height: 36px;
  padding-bottom: 2px;
  line-height: 39px;
  font-size: 15px;
  background-position: 0 -424px;
  text-align: center;
  padding: 0 10px 0 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 5px;
}

.ffButtonWrapper:hover > a {
  background-position: right -625px;
}

.ffButtonWrapper:hover > a > span {
  background-position: 0 -464px;
}

.ffButtonWrapper > a:active {
  background-position: right -665px;
  position: relative;
}

.ffButtonWrapper > a:active > span {
  background-position: 0 -504px;
}

.ffButtonWrapper.disabled > a {
  background-position: right -705px;
  position: static;
}

.ffButtonWrapper.disabled > a > span {
  background-position: 0 -544px;
  color: #c1c1c1;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

/* remove webkit yellow border */
select.mobileSelect {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  display: block;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.scrollable {
  position: relative;
}

.scrollable .viewport {
  position: relative;
  overflow: hidden;
}

.scrollable .viewport .overview {
  position: absolute;
}

.scrollable .scroll-bar {
  display: none;
}

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
}

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%;
}

.scrollable .scroll-bar .thumb {
  position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
}

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  left: 0;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Default skin*/
.scrollable.default-skin {
  padding-right: 10px;
  padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
  width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
  height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
  background-color: black;
  opacity: 0.4;
  border-radius: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.scrollable.default-skin .scroll-bar:hover .thumb {
  opacity: 0.6;
}

#top-navigation {
  display: block;
  width: 100%;
  height: 48px;
  background: url(/assets/sprites-x/top-navigation-bg.png) repeat-x;
  box-shadow: 0 1px 3px #222;
  position: relative;
  z-index: 200;
}

#site-name {
  float: left;
  margin: 14px 0 0 20px;
}
#site-name a {
  display: inline-block;
  background-position: 0 -132px;
  width: 108px;
  height: 20px;
  text-indent: -99999em;
}

#top-menu {
  float: right;
  margin: 9px 0 0 0;
}
#top-menu li {
  float: left;
  position: relative;
}
#top-menu li a {
  float: left;
  width: 30px;
  height: 30px;
  margin: 2px 2px 2px 17px;
  border-radius: 50%;
}
#top-menu li a:hover {
  background: #37312f;
  border: 2px solid #625b59;
  margin: 0 0 0 15px;
}
#top-menu li.active a {
  background: #37312f;
  border: 2px solid #625b59;
  margin: 0 0 0 15px;
}
#top-menu li .sub-menu {
  position: absolute;
  top: 35px;
  left: -151px;
  background: white;
  z-index: 1000;
  font-size: .7em;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 5px #d7d7d7;
  display: none;
}
#top-menu li .sub-menu:before {
  display: block;
  content: ' ';
  width: 13px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 10px;
  background-position: 0 -2206px;
}
#top-menu li .sub-menu li {
  width: 100%;
}
#top-menu li .sub-menu li a {
  display: block;
  width: 170px;
  padding: 5px 15px;
  border-radius: 0;
  margin: 0;
  border: none;
  height: auto;
  background: none;
}
#top-menu li .sub-menu li a:hover {
  background: none;
  text-decoration: underline;
}
#top-menu .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -99999em;
  margin: 5px;
}
#top-menu .menu-notification {
  position: absolute;
  top: -6px;
  left: 40px;
  font-size: .55em;
  color: white;
  background: #c84732;
  padding: 2px 4px 0 3px;
  height: 12px;
  border-radius: 2px;
}
#top-menu .menu-notification:after {
  display: block;
  content: '';
  display: inline-block;
  background-position: 0 -2216px;
  width: 6px;
  height: 8px;
  text-indent: -99999em;
  position: absolute;
  bottom: -6px;
  left: 3px;
}

#top-menu-search .icon {
  background-position: 0 -1882px;
}

#top-menu-new .icon {
  background-position: 0 -1845px;
}

#top-menu-user .icon {
  background-position: 0 -2017px;
}

#top-menu-settings .icon {
  background-position: 0 -1696px;
}

#top-search {
  float: right;
  display: none;
}
#top-search input.text {
  background: none;
  border: none;
  border-bottom: 2px solid #817e7d;
  padding: 4px 10px;
  margin: 10px 0;
  width: 235px;
  font-style: normal;
  color: #dedede;
}
#top-search .button {
  display: none;
}

#sign-form-nav {
  float: right;
  text-transform: uppercase;
  margin: 11px 0 0 0;
}
#sign-form-nav li {
  display: inline-block;
  margin-left: 10px;
}
#sign-form-nav .button {
  padding: 5px 15px;
}
#sign-form-nav .signin {
  color: white;
  font-size: .7em;
}
#sign-form-nav .signin:hover {
  text-decoration: underline;
}

#header {
  margin-top: -4px;
}
#header .user-info {
  margin: 50px 0 90px 30px;
  color: white;
}
#header .user-info:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#header .user-info a {
  color: white;
}
#header .user-info .avatar {
  display: block;
  width: 90px;
  height: 90px;
  padding: 5px;
  border-radius: 50%;
  background: url(/assets/user-info-avatar-background.png);
  float: left;
  margin: 0 20px 0 0;
}
#header .user-info .name {
  font-size: 1.5em;
  margin: 0 0 4px;
  padding: 23px 0 0;
}
#header .user-info .meta {
  font-size: .8em;
  font-style: italic;
}
#header .user-action {
  display: block;
  text-align: right;
  padding: 75px 0 0;
}
#header .user-action .label {
  text-transform: uppercase;
  margin: 10px 33px 10px 0;
  font-size: .5em;
}

#pitch {
  text-align: center;
  padding: 80px 0;
}
#pitch .title {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #524a48;
}
#pitch .title .variable.object,
#pitch .title .variable.location {
  font-weight: bold;
  cursor: pointer;
}
#pitch .title .variable {
  position: relative;
  display: inline-block;
  height: 52px;
  overflow: hidden;
}
#pitch .title .variable .list {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  text-align: left;
  margin: 0;
  line-height: 1.1;
  opacity: 0;
}
#pitch .description {
  font-style: italic;
}

#cards-title {
  text-transform: uppercase;
  padding: 0 10px 30px;
  font-size: .8em;
  font-weight: bold;
  color: #333;
}

#cards:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cards .card {
  float: left;
  width: 313px;
  background: white;
  box-shadow: 0 0 5px #d7d7d7;
  margin: 10px;
}
#cards .card .content {
  line-height: 1.4;
  padding: 20px;
  border-bottom: 1px solid #dedede;
  height: 60px;
}
#cards .card .content .thumb {
  float: left;
  width: 50px;
  height: 50px;
  padding: 3px;
  border: 1px solid #efefef;
  margin: 0 10px 0 0;
}
#cards .card .content .thumb img {
  width: 50px;
  height: 50px;
}
#cards .card .content a:hover {
  text-decoration: underline;
}
#cards .card .meta {
  background: #efefef;
  display: block;
  padding: 15px 10px 10px 20px;
}
#cards .card .meta:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cards .card .meta .author {
  float: left;
}
#cards .card .meta .author a {
  display: inline-block;
  vertical-align: middle;
}
#cards .card .meta .author .name {
  font-size: .7em;
  text-transform: uppercase;
}
#cards .card .meta .author .name:hover {
  text-decoration: underline;
}
#cards .card .meta .actions {
  float: right;
}
#cards .card .meta .actions li {
  display: inline-block;
  position: relative;
  margin: 5px 5px 0 0;
}
#cards .card .meta .actions li a {
  display: inline-block;
}
#cards .card .meta .actions li a .popup {
  position: absolute;
  top: -5px;
  left: 17px;
  font-size: .5em;
}
#cards .card .meta .actions li a .icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  text-indent: -99999em;
}
#cards .card .meta .actions li a.discuss .icon {
  background-position: 0 -1444px;
}
#cards .card .meta .actions li a.discuss:hover .icon {
  background-position: 0 -1328px;
}
#cards .card .meta .actions li a.discuss:active .icon {
  background-position: 0 -1275px;
}
#cards .card .meta .actions li a.done .icon {
  background-position: 0 -1644px;
}
#cards .card .meta .actions li a.done:hover .icon {
  background-position: 0 -1528px;
}
#cards .card .meta .actions li a.done:active .icon {
  background-position: 0 -1507px;
}
#cards .card .meta .actions li a.want .icon {
  background-position: 0 -1465px;
}
#cards .card .meta .actions li a.want:hover .icon {
  background-position: 0 -1370px;
}
#cards .card .meta .actions li a.want:active .icon {
  background-position: 0 -1349px;
}

#more-cards {
  display: block;
  text-align: center;
  padding: 85px 0;
}

#stories {
  background: #f7f7f7;
  line-height: 1.4;
  padding: 100px 0;
}
#stories .story {
  padding: 35px;
  text-align: center;
}
#stories img {
  margin-bottom: 40px;
  display: block;
  width: 250px;
  height: 250px;
}
#stories .title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 10px 20px;
  color: #524a48;
}
#stories .description {
  font-size: .85em;
}

#bottom-cta {
  text-align: center;
  padding: 80px 0;
  background: white;
}
#bottom-cta .button {
  font-size: 1.5em;
  height: auto;
  padding: 20px 50px;
}

#bottom-pitch {
  margin-bottom: 20px;
  color: #524a48;
  font-size: 1.1em;
  font-weight: bold;
}
#bottom-pitch p {
  margin-bottom: 10px;
}
#bottom-pitch .travees {
  text-transform: uppercase;
  font-weight: normal;
}

#add-new .field {
  width: 460px;
  border: none;
  font-size: 1em;
  padding: 0;
}
#add-new .field.input-text {
  height: 14px;
}
#add-new .field-budget {
  padding: 0;
  font-size: 1em;
  border: none;
  color: #524a48;
}
#add-new .field-todo-details {
  width: 440px;
  height: 14px;
}
#add-new .field-todo-details.select {
  width: 75px;
  margin-right: 10px;
}
#add-new .field-todo-details.budget {
  width: 370px;
}
#add-new .itenerary-title-field {
  padding: 10px 0;
}
#add-new .itenerary-title-field.field.input-text {
  height: 30px;
}
#add-new .itenerary-description-field {
  padding: 0;
  line-height: 1.4;
}
#add-new .empty {
  font-style: italic;
  color: #cfcfcf;
}
#add-new .tag-rows .item-wrap {
  padding-bottom: 10px;
}
#add-new .tag-rows .popular-tag {
  font-size: .6em;
}
#add-new .tag-rows .popular-tag a {
  text-decoration: underline;
}
#add-new .tag-rows .popular-tag a:hover {
  color: #524a48;
}
#add-new .tag-rows .tagit-new .ui-widget-content {
  font-size: 20px;
}
#add-new .budget-rows .item-row .currency,
#add-new .budget-rows .item-row .budget,
#add-new .budget-rows .item-row .legend {
  vertical-align: middle;
}
#add-new .budget-rows .item-label {
  padding-top: 20px;
}
#add-new .budget-rows .currency,
#add-new .budget-rows .budget {
  color: #524a48;
}
#add-new .budget-rows .currency {
  display: inline-block;
  width: 60px;
}
#add-new .budget-rows .budget {
  width: 220px;
  display: inline-block;
}
#add-new .budget-rows .legend {
  display: inline-block;
  width: 180px;
  font-size: .6em;
  color: #dedede;
}
#add-new .map-rows .item-row-map-wrap {
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
}
#add-new .map-rows .map {
  display: block;
  width: 100%;
  height: 300px;
  background: #dedede;
}
#add-new .map-rows #itenerary-map {
  display: block;
  width: 660px;
  height: 300px;
}
#add-new .map-rows .search {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#add-new .map-rows .search .text {
  font-size: .8em;
  width: 250px;
  padding: 5px 10px;
  background: white;
  opacity: .9;
  color: #524a48;
}
#add-new .map-rows .search .text.ui-autocomplete-loading {
  background: url("/assets/loading-autocomplete.gif") no-repeat 245px center white;
}
#add-new .map-rows .guidance {
  text-align: center;
  color: #524a48;
  font-size: .8em;
  line-height: 1.4;
  padding: 20px;
  font-style: italic;
}
#add-new .map-rows .guidance a {
  color: #524a48;
  text-decoration: underline;
}
#add-new .map-rows .guidance a:hover {
  color: #b0c832;
}
#add-new .map-rows .map-pin {
  display: inline-block;
  background-position: 0 -1902px;
  width: 17px;
  height: 24px;
  cursor: move;
}
#add-new .search-location-results {
  display: none;
  padding: 20px 35px;
  font-size: .7em;
  background: #f6f6f6;
  border-bottom: 3px solid #dedede;
}
#add-new .search-location-results ul li {
  margin-bottom: 5px;
}
#add-new .search-location-results ul li a {
  color: #524a48;
}
#add-new .search-location-results ul li a:hover {
  text-decoration: underline;
}
#add-new .section-actions {
  padding: 0 25px 25px;
  text-align: right;
}

#more-budget::-webkit-input-placeholder {
  color: #524a48;
  font-style: normal;
}
#more-budget:-moz-placeholder {
  /* Firefox 18- */
  color: #524a48;
  font-style: normal;
}
#more-budget::-moz-placeholder {
  /* Firefox 19+ */
  color: #524a48;
  font-style: normal;
}
#more-budget:-ms-input-placeholder {
  color: #524a48;
  font-style: normal;
}

.ui-autocomplete {
  width: 270px !important;
  line-height: 1.4;
  font-size: .85em;
}

#garmin-importer-wrap {
  font-style: normal;
  background: #f6f6f6;
  border: 3px solid #dedede;
  margin: 20px 0 0;
  padding: 20px 20px 25px;
  position: relative;
  display: none;
}
#garmin-importer-wrap a {
  text-decoration: none !important;
}
#garmin-importer-wrap a.button {
  font-weight: bold;
}
#garmin-importer-wrap a.external {
  text-decoration: underline !important;
}
#garmin-importer-wrap .loading, #garmin-importer-wrap .installed, #garmin-importer-wrap .install, #garmin-importer-wrap .importing, #garmin-importer-wrap .success {
  display: none;
}
#garmin-importer-wrap .loading {
  padding-top: 10px;
  display: block;
}

#garmin-importer-close {
  text-transform: uppercase;
  font-size: .7em;
  position: absolute;
  top: 10px;
  right: 10px;
}
#garmin-importer-close:hover {
  color: #b0c832 !important;
}

.todo-rows .item-label {
  padding-top: 20px;
}
.todo-rows .add-todo .add-todo-details {
  background: #efefef;
  box-shadow: 0 1px 3px #cfcfcf;
  padding: 10px 0 0;
  display: none;
}
.todo-rows .add-todo .add-todo-details .location-rows {
  display: none;
}
.todo-rows .add-todo .add-todo-details .todo-map {
  display: block;
  width: 464px;
  height: 200px;
}
.todo-rows .add-todo .add-todo-details .select-currency-wrap {
  float: left;
  width: 65px;
  height: 38px;
  margin-right: 5px;
}
.todo-rows .add-todo .add-todo-details .select-currency-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.todo-rows .add-todo .add-todo-details .select-currency-wrap .ffSelectButton,
.todo-rows .add-todo .add-todo-details .select-currency-wrap .ffSelect {
  height: 29px !important;
}
.todo-rows .add-todo .add-todo-details .select-currency-wrap .ffSelectMenuWrapper {
  top: 29px !important;
}
.todo-rows .add-todo .add-todo-details .item-row .item-label {
  text-align: right;
}
.todo-rows .add-todo .add-todo-details .item-row .item-wrap {
  padding: 5px;
}
.todo-rows .add-todo .add-todo-details .item-row .item-wrap .radiobutton-wrap {
  display: inline-block;
  font-size: .7em;
  width: 220px;
  padding: 12px 0;
}
.todo-rows .add-todo .add-todo-details .item-row .item-wrap .tagit {
  background: white;
  width: 430px;
  padding: 10px 15px 5px;
  border: 2px solid #cfcfcf;
}
.todo-rows .add-todo .add-todo-details .add-todo-button-wrap {
  padding: 20px;
  display: block;
  text-align: right;
}
.todo-rows .add-todo .add-todo-details-preview {
  background: #f6f6f6;
  font-size: .8em;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  display: none;
}
.todo-rows .add-todo .add-todo-details-preview a:hover {
  color: #b0c832;
}
.todo-rows .add-todo .add-todo-details-preview a:active {
  color: #a0ae54;
}
.todo-rows .add-todo .add-todo-details-preview .item-row {
  margin-bottom: 0;
}
.todo-rows .add-todo .add-todo-details-preview .item-label {
  text-align: right;
  padding-top: 14px;
}
.todo-rows .add-todo .add-todo-details-preview .item-wrap {
  font-size: .8em;
  line-height: 1.6;
  padding: 10px 0 0;
}
.todo-rows .add-todo .add-todo-details-preview .preview-edit,
.todo-rows .add-todo .add-todo-details-preview .preview-delete {
  text-transform: uppercase;
  font-size: .8em;
}
.todo-rows .add-more {
  font-size: .8em;
  color: #8a8a8a;
}
.todo-rows .add-more a:hover {
  color: #b0c832;
}

#body {
  padding-top: 50px;
  background: #f7f7f7;
}
#body.profile {
  padding-top: 0;
}

.social-links li {
  float: left;
  margin: 0 10px 20px 0;
}
.social-links li a {
  float: left;
}

#quicklinks-menu {
  display: block;
  padding: 28px 30px;
  text-transform: uppercase;
}
#quicklinks-menu a {
  color: #8a8a8a;
  display: block;
}
#quicklinks-menu a:hover {
  color: #b0c832;
}
#quicklinks-menu a .icon {
  display: inline-block;
  text-indent: -99999em;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
#quicklinks-menu a .icon.faved {
  background-position: 0 -1716px;
  width: 24px;
}
#quicklinks-menu a .icon.trending {
  background-position: 0 -1423px;
  width: 21px;
  height: 21px;
}
#quicklinks-menu a .icon.nearby {
  background-position: 0 -1808px;
}
#quicklinks-menu a .icon.random {
  background-position: 0 -1828px;
  width: 19px;
  height: 17px;
}
#quicklinks-menu a .icon.findfriends {
  background-position: 0 -1941px;
}
#quicklinks-menu a .icon.thingsyouwant {
  background-position: 0 -2105px;
}
#quicklinks-menu a .icon.thingsyouvedone {
  background-position: 0 -1981px;
  width: 24px;
  height: 18px;
}
#quicklinks-menu li {
  margin-bottom: 20px;
}
#quicklinks-menu li.active a, #quicklinks-menu li:hover a {
  color: #b0c832;
}
#quicklinks-menu li.active .icon.faved, #quicklinks-menu li:hover .icon.faved {
  background-position: 0 -1736px;
}
#quicklinks-menu li.active .icon.trending, #quicklinks-menu li:hover .icon.trending {
  background-position: 0 -1486px;
}
#quicklinks-menu li.active .icon.nearby, #quicklinks-menu li:hover .icon.nearby {
  background-position: 0 -1756px;
}
#quicklinks-menu li.active .icon.random, #quicklinks-menu li:hover .icon.random {
  background-position: 0 -1865px;
}
#quicklinks-menu li.active .icon.findfriends, #quicklinks-menu li:hover .icon.findfriends {
  background-position: 0 -1961px;
}
#quicklinks-menu li.active .icon.thingsyouwant, #quicklinks-menu li:hover .icon.thingsyouwant {
  background-position: 0 -2085px;
}
#quicklinks-menu li.active .icon.thingsyouvedone, #quicklinks-menu li:hover .icon.thingsyouvedone {
  background-position: 0 -1999px;
}

#stream.itenerary .load-more {
  border-top: 1px solid #efefef;
}
#stream .loading-wrap {
  text-align: center;
  padding: 30px 0;
}
#stream .item {
  border-bottom: 1px solid #efefef;
  padding: 40px 0;
}
#stream .item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#stream .item a:hover {
  color: #8ea128;
}
#stream .item a:active {
  color: #a0ae54;
}
#stream .item .item-avatar {
  float: left;
  width: 150px;
  text-align: center;
  margin: 0 20px 0 0;
}
#stream .item .item-avatar img {
  width: 75px;
  height: 75px;
}
#stream .item .item-content {
  float: left;
  width: 320px;
  margin: 0 20px 0 0;
}
#stream .item .item-content.wide {
  width: 470px;
}
#stream .item .item-content .title {
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0 0 20px;
}
#stream .item .item-content .title .keyword {
  font-weight: bold;
}
#stream .item .item-content .meta {
  font-size: .7em;
  line-height: 1.4;
  color: #bebebe;
}
#stream .item .item-content .meta a {
  font-weight: bold;
}
#stream .item .item-content .meta .city {
  font-style: italic;
  font-weight: bold;
}
#stream .item .item-content .excerpt {
  font-size: 1.25em;
  line-height: 1.4;
  font-style: italic;
  color: #cfcfcf;
  border-left: 5px solid #efefef;
  padding: 10px 30px 5px;
  margin: 30px 0 0;
}
#stream .item .item-content .keyword {
  color: #8a8a8a;
}
#stream .item .item-thumb {
  float: left;
  width: 150px;
}
#stream .item .item-thumb .thumb {
  width: 75px;
  height: 75px;
  padding: 5px;
  border: 1px solid #efefef;
  display: block;
  margin: 0 auto;
}
#stream .item.activity .avatar img {
  width: 35px;
  height: 35px;
}
#stream .item.activity .item-content {
  padding-top: 10px;
  width: 470px;
}
#stream .item.no-thumb .item-content {
  padding-top: 10px;
  width: 470px;
}
#stream .item a {
  color: #8a8a8a;
}
#stream .item .avatar img {
  border-radius: 50%;
}
#stream .load-more {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  padding: 20px 0;
}
#stream .load-more:hover {
  background: #f7f7f7;
}
#stream .load-more:active {
  background: #cfcfcf;
  color: white;
}

.section.settings .inside {
  padding: 30px 0;
}
.section.settings .inside p {
  margin-bottom: 15px;
}
.section.settings .inside p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.section.settings .inside p .label {
  float: left;
  width: 150px;
  font-size: .6em;
  text-transform: uppercase;
  text-align: right;
  padding-top: 20px;
  margin-right: 20px;
}
.section.settings .inside p .input-wrap {
  float: left;
  width: 470px;
}
.section.settings .inside p .input-wrap input[type="text"],
.section.settings .inside p .input-wrap input[type="email"],
.section.settings .inside p .input-wrap input[type="password"],
.section.settings .inside p .input-wrap textarea {
  width: 440px;
}

#draft-list .scrolled-items {
  height: 302px;
}

#static-category {
  text-transform: uppercase;
  font-size: .85em;
  padding: 20px 0;
  color: #524a48;
}

#static-title {
  font-size: 3em;
  margin-bottom: 50px;
  color: #524a48;
}

#static-content {
  margin-bottom: 150px;
}
#static-content .inside {
  padding: 60px 60px 20px;
}

#static-sidebar {
  padding: 65px 0 0 20px;
  text-transform: uppercase;
  font-size: .85em;
}
#static-sidebar .sidebar-item {
  margin-bottom: 65px;
}
#static-sidebar .sidebar-title {
  font-weight: bold;
  margin-bottom: 20px;
}
#static-sidebar ul li {
  margin-bottom: 20px;
}
#static-sidebar .connect-with-us li {
  float: left;
  margin: 0 10px 0 0;
}
#static-sidebar .connect-with-us li a {
  float: left;
}
#static-sidebar a:hover {
  text-decoration: underline;
}

#signin {
  margin-bottom: 50px;
}
#signin p {
  margin-bottom: 15px;
}
#signin .or {
  display: inline-block;
  background-position: 0 -348px;
  width: 275px;
  height: 51px;
  text-align: center;
}
#signin .or span {
  padding-top: 17px;
  display: block;
  color: white;
}
#signin .notification {
  font-size: .8em;
  font-style: italic;
  padding: 11px 0 12px;
  background: white;
  width: 255px;
  opacity: .8;
  text-align: center;
}
#signin .notification.error {
  color: #c84732;
}
#signin .notification.success {
  color: #8ea128;
}
#signin .text {
  width: 253px;
}
#signin .button {
  width: 275px;
}
#signin .remember-me {
  text-transform: uppercase;
  font-size: .6em;
}

#signup .section {
  height: 480px;
  margin-bottom: 60px;
}
#signup .section .section-body p {
  margin-bottom: 15px;
}
#signup .section .section-body .item-row .item-label {
  text-align: right;
}
#signup .section .section-body .item-row .item-wrap {
  width: 430px;
  position: relative;
}
#signup .section .section-body .item-row .item-wrap .input-notification {
  position: absolute;
  display: block;
  width: 180px;
  top: 8px;
  left: 282px;
  font-size: .7em;
}
#signup .section .section-body .item-row .item-wrap .input-notification.error {
  color: #c84732;
}
#signup .section .section-body .item-row .item-wrap .input-notification.success {
  color: #b0c832;
}
#signup .section .section-body .text {
  width: 250px;
}
#signup .section .section-body .text.error {
  border-color: #c84732;
}
#signup .section .section-body .agreement-wrap input, #signup .section .section-body .agreement-wrap span {
  vertical-align: top;
  display: inline-block;
}
#signup .section .section-body .agreement-label {
  width: 250px;
  font-size: .6em;
  text-transform: uppercase;
  line-height: 1.6;
}
#signup .section .section-body .agreement-label a {
  text-decoration: underline;
}
#signup .section .section-body .button.big {
  width: 274px;
}

#add-tag-knowledge .section-body .inside {
  padding-bottom: 70px;
}

.itenerary-title {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 15px;
}

.itenerary-description {
  line-height: 1.6;
}

.itenerary .itenerary-title {
  font-size: 2em;
  padding: 80px 70px 40px 170px;
}
.itenerary .itenerary-description {
  padding: 0 70px 40px 170px;
}
.itenerary .itenerary-section-title {
  padding: 20px 25px;
  text-transform: uppercase;
  color: #524a48;
}
.itenerary .itenerary-section-title .extension {
  text-transform: none;
  color: #bebebe;
  font-size: .7em;
}
.itenerary .itenerary-todos .todo {
  display: block;
  border-top: 1px solid #efefef;
  padding: 40px 0 60px;
  position: relative;
}
.itenerary .itenerary-todos .todo:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-todos .todo.suggest {
  text-align: center;
  text-transform: uppercase;
  color: #cfcfcf;
  padding-bottom: 40px;
}
.itenerary .itenerary-todos .todo.suggest .icon {
  display: inline-block;
  background-position: 0 -1665px;
  width: 31px;
  height: 31px;
  display: block;
  margin: 20px auto 0;
}
.itenerary .itenerary-todos .todo.suggest:hover {
  color: #b0c832;
}
.itenerary .itenerary-todos .todo.suggest:hover .icon {
  background-position: 0 -741px;
}
.itenerary .itenerary-todos .todo.suggest:active {
  color: #8ea128;
}
.itenerary .itenerary-todos .todo.suggest:active .icon {
  background-position: 0 -648px;
}
.itenerary .itenerary-todos .todo .todo-thumb {
  float: left;
  width: 150px;
  margin-right: 20px;
}
.itenerary .itenerary-todos .todo .todo-thumb a {
  display: block;
  width: 75px;
  padding: 5px;
  border: 1px solid #efefef;
  margin: 0 auto;
}
.itenerary .itenerary-todos .todo .todo-thumb a img {
  display: block;
  width: 100%;
}
.itenerary .itenerary-todos .todo .todo-title {
  float: left;
  width: 470px;
  font-size: 1.5em;
  line-height: 1.4;
}
.itenerary .itenerary-todos .todo .todo-title h2 a {
  display: block;
  width: 100%;
}
.itenerary .itenerary-todos .todo .todo-title a:hover {
  color: #b0c832;
}
.itenerary .itenerary-todos .todo .todo-title .meta {
  color: #bebebe;
  font-size: .5em;
  margin-top: 10px;
}
.itenerary .itenerary-todos .todo .todo-title .meta a {
  color: #bebebe;
  font-style: italic;
}
.itenerary .itenerary-todos .todo .todo-title .meta a:hover {
  color: #b0c832;
}
.itenerary .itenerary-todos .todo .todo-title .meta a:active {
  color: #8ea128;
}
.itenerary .itenerary-todos .todo .todo-actions {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.itenerary .itenerary-todos .todo .todo-actions:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-todos .todo .todo-actions li {
  float: left;
  margin-right: 10px;
}
.itenerary .itenerary-todos .todo .todo-actions li a {
  float: left;
  position: relative;
}
.itenerary .itenerary-todos .todo .todo-actions li a .icon {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-indent: -99999em;
}
.itenerary .itenerary-todos .todo .todo-actions li a .popup {
  font-size: .5em;
  position: absolute;
  top: -3px;
  left: 27px;
}
.itenerary .itenerary-todos .todo .todo-actions li a .label {
  position: absolute;
  top: 40px;
  left: -25px;
  text-transform: uppercase;
  text-align: center;
  font-size: .6em;
  width: 75px;
  z-index: 500;
  display: none;
  background: white;
}
.itenerary .itenerary-todos .todo .todo-actions li a:hover .label {
  display: block;
}
.itenerary .itenerary-todos .todo .todo-actions li a.comment .icon {
  background-position: 0 -710px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.comment:hover .icon {
  background-position: 0 -492px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.comment .active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.comment:active .icon {
  background-position: 0 -399px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.done .icon {
  background-position: 0 -1212px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.done:hover .icon {
  background-position: 0 -964px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.done:active .icon {
  background-position: 0 -881px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.done.selected .icon {
  background-position: 0 -1027px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.want .icon {
  background-position: 0 -772px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.want:hover .icon {
  background-position: 0 -554px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.want:active .icon {
  background-position: 0 -585px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.want.selected .icon {
  background-position: 0 -523px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.add .icon {
  background-position: 0 -1665px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.add:hover .icon {
  background-position: 0 -741px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.add:active .icon {
  background-position: 0 -648px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.add.selected .icon {
  background-position: 0 -1613px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.more .icon {
  background-position: 0 -679px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.more:hover .icon {
  background-position: 0 -461px;
}
.itenerary .itenerary-todos .todo .todo-actions li a.more.active .icon, .itenerary .itenerary-todos .todo .todo-actions li a.more:active .icon {
  background-position: 0 -430px;
}
.itenerary .itenerary-todos .todo .todo-details {
  float: left;
  width: 390px;
  padding: 20px 95px 10px 175px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  font-size: .8em;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
}
.itenerary .itenerary-todos .todo .todo-details a:hover {
  color: #b0c832;
}
.itenerary .itenerary-todos .todo .todo-details p {
  margin-bottom: 10px;
}
.itenerary .itenerary-todos .todo .todo-details .budget p, .itenerary .itenerary-todos .todo .todo-details .tag p {
  position: relative;
  padding-left: 25px;
}
.itenerary .itenerary-todos .todo .todo-details .budget .icon, .itenerary .itenerary-todos .todo .todo-details .tag .icon {
  position: absolute;
  top: 5px;
  left: 0;
}
.itenerary .itenerary-todos .todo .todo-details .budget .icon {
  display: inline-block;
  background-position: 0 -2037px;
  width: 16px;
  height: 16px;
}
.itenerary .itenerary-todos .todo .todo-details .tag .icon {
  display: inline-block;
  background-position: 0 -2194px;
  width: 16px;
  height: 12px;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles {
  float: left;
  width: 100%;
  margin: 20px 0 0;
  background: url(/assets/sprites-x/todo-itenerary-comment-shadow-top.png) left top repeat-x #f6f6f6;
  position: relative;
  display: none;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles h2 {
  padding: 30px 35px 0;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles h2 .todo-name {
  font-style: italic;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul {
  padding: 20px 0;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul li {
  padding: 5px 35px;
  font-size: .8em;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul li a {
  display: block;
  line-height: 1.4;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul li a:hover {
  text-decoration: underline;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul li .more {
  font-weight: bold;
  border-bottom: none;
  padding: 10px 0;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles ul li .loading {
  margin-top: 15px;
}
.itenerary .itenerary-todos .todo .todo-itenerary-titles .shadow-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 8px;
  background: url(/assets/sprites-x/todo-itenerary-comment-shadow-bottom.png) left top repeat-x #f6f6f6;
}
.itenerary .itenerary-todos .todo .todo-comments {
  float: left;
  width: 100%;
  margin: 20px 0 0;
  background: url(/assets/sprites-x/todo-itenerary-comment-shadow-top.png) left top repeat-x #f6f6f6;
  position: relative;
  display: none;
}
.itenerary .itenerary-todos .todo .todo-comments:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-todos .todo .todo-comments .load-more-comments {
  text-align: center;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: bold;
  float: left;
  width: 100%;
  border-bottom: 1px solid #efefef;
  padding: 15px 0 15px;
  margin: -20px 0 30px;
  background: #f4f4f4;
}
.itenerary .itenerary-todos .todo .todo-comments .load-more-comments:hover {
  background: #f7f7f7;
  color: #8ea128;
}
.itenerary .itenerary-todos .todo .todo-comments .shadow-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 8px;
  background: url(/assets/sprites-x/todo-itenerary-comment-shadow-bottom.png) left top repeat-x #f6f6f6;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment {
  display: block;
  margin: 20px 35px 20px 120px;
  font-size: .8em;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .avatar {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  text-align: center;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .avatar .loading {
  margin-top: 17px;
  display: none;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap {
  float: left;
  width: 400px;
  line-height: 1.4;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap.add-comment-wrap {
  padding-top: 15px;
  border-top: 1px solid #efefef;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap .comment-meta {
  margin-bottom: 5px;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap .comment-meta a {
  font-weight: bold;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap .comment-meta a:hover {
  color: #b0c832;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .comment-content-wrap .comment-meta .comment-action {
  font-size: .7em;
}
.itenerary .itenerary-todos .todo .todo-comments .todo-comment .add-comment {
  width: 378px;
  height: 20px;
  resize: none;
  border-width: 1px;
}
.itenerary .itenerary-todos .todo-rows .form-title {
  padding: 40px 35px 20px;
  text-transform: uppercase;
  color: #524a48;
}
.itenerary .itenerary-todos .todo-rows .loading-wrap {
  display: block;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #efefef;
}
.itenerary .itenerary-todos .todo-rows .loading {
  width: 16px;
  height: 16px;
  display: block;
  margin: 10px auto;
}
.itenerary .itenerary-todos .todo-rows .add-todo-details {
  display: block;
}
.itenerary .itenerary-todos .todo-rows .item-row {
  background: #efefef;
  padding-bottom: 0;
}
.itenerary .itenerary-todos .todo-rows .item-row.border-bottom {
  border-bottom: none;
}
.itenerary .itenerary-todos .todo-rows .add-todo-title {
  padding-left: 5px;
  padding-top: 15px;
}
.itenerary .itenerary-todos .todo-rows .add-todo-title .itenerary-todo-field {
  width: 440px;
  height: 14px;
}
.itenerary .itenerary-todos .todo-rows .add-todo-details {
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.itenerary .itenerary-todos .todo-rows .add-todo-details .field-description {
  width: 440px;
  height: 14px;
}
.itenerary .itenerary-todos .todo-rows .add-todo-details .budget {
  width: 370px;
  height: 14px;
}
.itenerary .itenerary-actions {
  border-top: 1px solid #efefef;
  margin: 0 0 40px;
  padding: 20px 30px;
}
.itenerary .itenerary-actions:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-actions li {
  float: left;
  margin: 0 10px 0 0;
}
.itenerary .itenerary-actions a {
  float: left;
  position: relative;
}
.itenerary .itenerary-actions a:hover .icon {
  opacity: 1;
}
.itenerary .itenerary-actions a:hover .label {
  display: block;
}
.itenerary .itenerary-actions a.facebook .icon {
  display: inline-block;
  background-position: 0 -1776px;
  width: 32px;
  height: 32px;
}
.itenerary .itenerary-actions a.facebook:hover .icon {
  background-position: 0 -1581px;
}
.itenerary .itenerary-actions a.twitter .icon {
  display: inline-block;
  background-position: 0 -1391px;
  width: 32px;
  height: 32px;
}
.itenerary .itenerary-actions a.twitter:hover .icon {
  background-position: 0 -1180px;
}
.itenerary .itenerary-actions a.offline .icon {
  display: inline-block;
  background-position: 0 -995px;
  width: 32px;
  height: 32px;
}
.itenerary .itenerary-actions a.offline:hover .icon {
  background-position: 0 -1243px;
}
.itenerary .itenerary-actions a .icon {
  border-radius: 50%;
  opacity: .5;
  vertical-align: middle;
  margin-right: 5px;
}
.itenerary .itenerary-actions a .label {
  display: none;
  vertical-align: middle;
  font-size: .6em;
  text-transform: uppercase;
  position: absolute;
  width: 75px;
  top: 40px;
  left: -20px;
  text-align: center;
}
.itenerary .itenerary-comments {
  display: block;
  border-top: 1px solid #efefef;
  padding: 40px 0 10px;
}
.itenerary .itenerary-comments .load-more-comments {
  text-align: center;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: bold;
  float: left;
  width: 100%;
  border-bottom: 1px solid #efefef;
  padding: 15px 0 15px;
  margin: -38px 0 30px;
}
.itenerary .itenerary-comments .load-more-comments:hover {
  color: #8ea128;
}
.itenerary .itenerary-comments .itenerary-comment {
  display: block;
  margin: 20px 35px 40px 55px;
  font-size: .8em;
}
.itenerary .itenerary-comments .itenerary-comment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.itenerary .itenerary-comments .itenerary-comment .avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 77px;
  text-align: center;
}
.itenerary .itenerary-comments .itenerary-comment .avatar img {
  width: 100%;
}
.itenerary .itenerary-comments .itenerary-comment .avatar .loading {
  margin-top: 17px;
  display: none;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap {
  float: left;
  width: 400px;
  line-height: 1.4;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap.add-comment-wrap {
  border-bottom: none;
  padding-bottom: 0;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap.add-comment-wrap .button {
  float: right;
  margin-top: 20px;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap .comment-meta {
  margin-bottom: 5px;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap .comment-meta a {
  font-weight: bold;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap .comment-meta a:hover {
  color: #b0c832;
}
.itenerary .itenerary-comments .itenerary-comment .comment-content-wrap .comment-meta .comment-action {
  font-size: .7em;
}
.itenerary .itenerary-comments .itenerary-comment .add-comment {
  width: 378px;
  height: 20px;
  resize: none;
  border-width: 1px;
}

#itenerary-meta {
  font-size: .8em;
  color: #8a8a8a;
  margin-left: 15px;
  line-height: 2;
}
#itenerary-meta li {
  margin-bottom: 2px;
}
#itenerary-meta li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#itenerary-meta li .icon {
  float: left;
  margin: 7px 0 0 0;
}
#itenerary-meta li .info {
  float: left;
  width: 220px;
  margin: 0 0 0 20px;
}
#itenerary-meta li .info a:hover {
  text-decoration: underline;
}
#itenerary-meta li.author .icon {
  display: inline-block;
  background-position: 0 -2053px;
  width: 16px;
  height: 16px;
}
#itenerary-meta li.location .icon {
  display: inline-block;
  background-position: 0 -1926px;
  width: 15px;
  height: 15px;
}
#itenerary-meta li.wishlisted .icon {
  display: inline-block;
  background-position: 0 -2069px;
  width: 16px;
  height: 16px;
}
#itenerary-meta li.done .icon {
  display: inline-block;
  background-position: 0 -2163px;
  width: 16px;
  height: 12px;
  margin-top: 9px;
}
#itenerary-meta li.budget .icon {
  display: inline-block;
  background-position: 0 -2037px;
  width: 16px;
  height: 16px;
}
#itenerary-meta li.tag .icon {
  display: inline-block;
  background-position: 0 -2194px;
  width: 16px;
  height: 12px;
}

#itenerary-page-map {
  display: block;
  width: 100%;
  height: 322px;
}

#page-profile-details .item .item-content .title {
  margin-bottom: 5px;
}
#page-profile-details .item .item-content.wide .title {
  margin-bottom: 10px;
  line-height: 1.2;
}
#page-profile-details .item .item-content.wide .meta a {
  font-weight: normal;
  color: #bebebe;
  text-decoration: underline;
}
#page-profile-details .item .item-content.wide .meta a:hover {
  color: #b0c832;
}
#page-profile-details .item .item-thumb {
  text-align: right;
}
#page-profile-details .item .item-thumb .button {
  color: white !important;
  font-size: .6em;
  padding: 13px 15px 8px;
  margin: 25px 20px 0 0;
}

#my-map {
  display: block;
  width: 100%;
  height: 322px;
}

#page-itenerary.profile .itenerary .itenerary-todos .todo:first-child {
  border-top: none !important;
}

#page-settings .column.two-third .section-body p {
  margin-bottom: 20px;
}
#page-settings .input-gender .ffSelectWrapper {
  width: 465px;
}
#page-settings .input-gender .ffSelectWrapper .ffSelect .ffSelectButton {
  background-position-x: 98.5%;
}
#page-settings .input-birthday .date .ffSelectWrapper {
  width: 97px;
}
#page-settings .input-birthday .date .ffSelectWrapper .ffSelect .ffSelectButton {
  background-position-x: 94%;
}
#page-settings .input-birthday .year .ffSelectWrapper {
  width: 160px;
}
#page-settings textarea {
  margin-top: 0;
}

#footer {
  background: #a0ae54;
}

#footer-menu {
  font-size: .7em;
  color: white;
  text-shadow: 1px -1px 1px #8a8a8a;
  padding: 67px 0 57px;
  text-align: right;
}
#footer-menu a {
  color: white;
}
