<div id="body" class="wrap-outer">
	<div class="wrap">
		<div class="row">
			<div class="column one-third">
				<div class="section fixed-height" id="draft-list">
					<div class="section-header">
						<h2 class="section-title">Drafts <span class="extension"><a href="#">add new</a> &bull; <a href="#">view all</a></span></h2>
					</div><!-- .section-header -->

					<div class="section-body scrolled-items">
						<a href="#" class="item">Eat kepiting di R.M Uda <span class="meta">- Draft</span></a>
						<a href="#" class="item">Guide to watch live balinese dance performance at Sanggar Sekar Ayu e <span class="meta">- Draft</span></a>
						<a href="#" class="item">Backpacking Bandung - Bali - Lombok - NTT - Raja Ampat in 2 Weeks And No Money <span class="meta">- Draft</span></a>
						<a href="#" class="item">Scuba Diving in Kurama Beach Morbi leo risus, porta ac consectetur ac, vestibulum at eros <span class="meta">- Draft</span></a>
						<a href="#" class="item">Bali - Lombok - Sulawesi - Papua Trip <span class="meta">- Draft</span></a>
					</div>						
				</div><!-- .section.fixed-height -->
			</div><!-- .column.one-third -->

			<div class="column two-third last">
				<form action="" method="POST" id="add-new-form">
				<div class="section" id="add-new">
					<div class="section-header">
						<h2 class="section-title">Add New Itenerary</h2>
					</div><!-- .section-header -->
					
					<div class="section-body">							
						<div class="item-rows">
							<div class="item-row">
								<div class="item-label center">
									<div class="upload-image-wrap">
										<input type="file" class="field-upload" name="itenerary-image" />
										<div class="preview-image"></div>
										<a href="#" class="trigger">Add Image</a>
										<a href="#" class="remove">Remove</a>
									</div><!-- .upload-image-wrap -->
								</div>
								<div class="item-wrap">
									<div class="itenerary-title empty">
										<textarea class="itenerary-title-field field input-text autosize" name="itenerary-title" placeholder="Type Title Of Your Itenenerary Here"></textarea>
									</div>
									<div class="itenerary-description empty">
										<textarea name="itenerary-description" id="" class="itenerary-description-field field autosize" placeholder="Describe your itenerary here. Make it informative, unique, and right to the point"></textarea>
									</div>
								</div>
							</div><!-- .item-row -->
						</div><!-- .item-rows -->
						
						<div class="item-rows row-list tag-rows">
							<h2 class="rows-title">Tag</h2>
							<div class="item-row border-bottom">
								<div class="item-label">
									
								</div>
								<div class="item-wrap empty">
									<input type="text" class="itenerary-tags-field field tagit" name="itenerary-tags" placeholder="Type tag here, separate by comma for multiple tags">
								</div>
							</div>
							<div class="item-row border-bottom">
								<div class="item-label">
									
								</div>
								<div class="item-wrap popular-tag">
									<p>Popular tags: <a href="#">Bandung</a>, <a href="#">Long Weekend</a>, <a href="#">Summer</a>, <a href="#">Lembang</a>, <a href="#">Cheap Vacation</a></p>
								</div>
							</div>
						</div>

						<div class="item-rows map-rows">
							<h2 class="rows-title">Location</h2>
							<div class="item-row-map-wrap">
								<div class="item-row map">
									<div id="itenerary-map"></div>
								</div>
								<div class="search">
									<input type="text" placeholder="Type here to search..." class="text map-search">
									<input type="hidden" class="text itenerary-latlon-field field" name="itenerary-latlon" />
								</div >
							</div><!-- .item-row-map-wrap -->
							<div class="item-row search-location-results">
								<ul>
									
								</ul>
							</div>
							<div class="item-row guidance">
								<p>Click on the map to select or revise the position of the pin. <br></p>
								<p>Optionally, you can <a href="#" id="use-current-location">use current location</a>. Garmin device owner? You can <a href="#" id="use-garmin-device">import your data here</a>.</p>

								<div id="garmin-importer-wrap">
									<a href="#" id="garmin-importer-close">Close</a>
									<div class="loading">
										<img src="/assets/loading-autocomplete.gif" alt="Loading...">
									</div>
									<div class="installed">
										<p><a href="#" class="button" id="garmin-start-importing">Start Importing Garmin Data</a></p>
									</div>
									<div class="install">
										<p>To import data from your Garmin Device, please <a href="" target="_blank" class="external">install Garmin plugin</a> first</p>
									</div>
									<div class="importing">
										<p>Found your device <span id="device-name"></span>. Start reading data... <a href="#" class="button" id="garmin-stop-importing">Stop Importing</a></p>
									</div>
									<div class="success">
										<p>Sucessfully importing your data</p>
									</div>
								</div><!-- #garmin-importer-wrap -->
							</div>
						</div>
						
						<div class="item-rows row-list todo-rows">
							<h2 class="rows-title">Things To-Do</h2>
							
							<div id="add-todos">
							<div class="add-todo">
								<div class="item-row border-bottom">
									<div class="item-label">
										<div class="upload-image-wrap">
											<input type="file" class="field-upload" name="itenerary-image" />
											<div class="preview-image"></div>
											<a href="#" class="trigger">Add Image</a>
											<a href="#" class="remove">Remove</a>
										</div><!-- .upload-image-wrap -->
									</div>
									<div class="item-wrap add-todo-title">
										<textarea class="itenerary-todo-field field input-text autosize" name="itenerary-todo[1][title]" placeholder="Type To-Do Of Your Itenenerary Here"></textarea>
									</div>
								</div>
								<div class="add-todo-details">
									<div class="item-row">
										<div class="item-label">
											Description
										</div>
										<div class="item-wrap">
											<textarea name="itenerary-todo[1][description]" id="" class="field-todo-details autosize field-description" placeholder="Describe this todo"></textarea>
										</div>
									</div><!-- .item-row -->
									<div class="item-row">
										<div class="item-label">
											Tag
										</div>
										<div class="item-wrap">
											<input type="text" class="field-todo-details tagit field-tags" name="itenerary-todo[1][tags]" placeholder="Add tags, separate by comma">
										</div>
									</div><!-- .item-row -->
									<div class="item-row">
										<div class="item-label">
											Budget for this
										</div>
										<div class="item-wrap">
											<div class="select-currency-wrap">
												<select name="itenerary-todo[1][currency]" id="" class="field-todo-details select select-currency field-currency">
													<option value="IDR">IDR</option>
													<option value="USD">USD</option>
													<option value="AUD">AUD</option>
													<option value="RM">RM</option>
													<option value="SGD">SGD</option>
												</select>
											</div>
											<input type="text" class="field-todo-details budget input-money" name="itenerary-todo[1][budget]" placeholder="0">
										</div>
									</div><!-- .item-row -->
									<div class="item-row">
										<div class="item-label">
											Location
										</div>
										<div class="item-wrap">
											<span class="radiobutton-wrap">
												<input type="radio" name="itenerary-todo[1][location-setting]" id="itenerary-todo-location-itenerary[1]" class="field-todo-location-setting" value="itenerary"> <label for="itenerary-todo-location-itenerary[1]">Use this itenerary's location</label>
											</span>
											<span class="radiobutton-wrap">
												<input type="radio" name="itenerary-todo[1][location-setting]" id="itenerary-todo-location-custom[1]" class="field-todo-location-setting" value="custom"> <label for="itenerary-todo-location-custom[1]">Specify specific location</label>
											</span>
										</div>
									</div><!-- .item-row -->
									<div class="item-row location-rows">
										<div class="item-label"></div>
										<div class="item-wrap todo-map-wrap">
											<div id="todo-map-1" class="todo-map"></div>
											<input type="hidden" class="field-todo-details field-todo-location">
										</div>
									</div><!-- .item-row -->
									<div class="item-row add-todo-button-wrap">
										<button class="add-todo-cancel button calm">Cancel</button>
										<button class="add-todo-button button">Save</button>
									</div>
								</div><!-- .add-todo-details -->
								<div class="add-todo-details-preview">										
									<p class="item-row">
										<span class="item-label">Description</span>
										<span class="item-wrap preview-description"></span>
									</p>
									<p class="item-row">
										<span class="item-label">Tags</span>
										<span class="item-wrap preview-tags"></span>
									</p>
									<p class="item-row">
										<span class="item-label">Budget</span>
										<span class="item-wrap">
											<span class="preview-currency"></span> <span class="preview-budget"></span>
										</span>
									</p>
									<p class="item-row">
										<span class="item-label">Location</span>
										<span class="item-wrap preview-location"></span>
									</p>
									<p class="item-row">
										<span class="item-label"></span>
										<span class="item-wrap"><a href="#" class="preview-edit">Edit</a> | <a href="#" class="preview-delete">Delete</a></span>
									</p>
								</div><!-- .add-todo-details-preview -->
							</div><!-- .add-todo -->
							</div><!-- #add-todos -->

							<div class="item-row border-bottom add-more">
								<div class="item-label"></div>
								<div class="item-wrap">
									<a href="#">Add More To-Do...</a>
								</div>
							</div>
						</div>

						<div class="item-rows row-list budget-rows">
							<h2 class="rows-title">Budget</h2>
							<div class="item-row border-bottom">
								<div class="item-label">To-Dos Budget</div>
								<div class="item-wrap">
									<span class="currency select-currency-wrap">
										<select name="todo-currency" id="todo-currency" class="select-currency">
											<option value="IDR">IDR</option>
											<option value="USD">USD</option>
											<option value="AUD">AUD</option>
											<option value="RM">RM</option>
											<option value="SGD">SGD</option>												
										</select>
									</span> 
									<span class="budget">
										<input type="text" id="todo-budget" class="field-budget" name="todo-budget" disabled="disabled" placeholder="0">
									</span> 
									<span class="legend">Summed up from todo's budget</span>
								</div>
							</div>
							<div class="item-row border-bottom">
								<div class="item-label">More Budget</div>
								<div class="item-wrap">
									<span class="currency select-currency-wrap">
										<select name="more-currency" id="more-currency" class="select-currency">
											<option value="IDR">IDR</option>
											<option value="USD">USD</option>
											<option value="AUD">AUD</option>
											<option value="RM">RM</option>
											<option value="SGD">SGD</option>																								
										</select>
									</span>
									<span class="budget empty">
										<input type="text" id="more-budget" class="field-budget" name="more-budget" placeholder="0">
									</span>
									<span class="legend">Additional budget needed outside the budget listed on each to-do</span>
								</div>
							</div>
							<div class="item-row border-bottom">
								<div class="item-label">Total Budget</div>
								<div class="item-wrap">
									<span class="currency select-currency-wrap">
										<select name="total-currency" id="total-currency" class="select-currency">
											<option value="IDR">IDR</option>
											<option value="USD">USD</option>
											<option value="AUD">AUD</option>
											<option value="RM">RM</option>
											<option value="SGD">SGD</option>												
										</select>
									</span>
									<span class="budget">
										<input type="text" id="total-budget" class="field-budget" name="total-budget" disabled="disabled" placeholder="0">											
									</span>
									<span class="legend">Overall budget</span>
								</div>
							</div>
						</div>

						<div class="section-actions">
							<input type="submit" class="button danger" value="Delete" />
							<input type="submit" class="button calm" value="Save as Draft" />
							<input type="submit" class="button" value="Publish This Itenerary" />
						</div><!-- .settings-actions -->
					</div><!-- .section-body -->
				</div><!-- .section -->
				</form><!-- #add-new-form -->
			</div><!-- .column.two-third -->
		</div><!-- .rown -->
	</div><!-- .wrap -->
</div><!-- #body.wrap-outer -->

<!-- Templates, Templates Everywhere -->
<script type="text/template" id="template-add-todo">
	<div class="add-todo">
		<div class="item-row border-bottom">
			<div class="item-label">
				<div class="upload-image-wrap">
					<input type="file" class="field-upload" name="itenerary-image" />
					<div class="preview-image"></div>
					<a href="#" class="trigger">Add Image</a>
					<a href="#" class="remove">Remove</a>
				</div><!-- .upload-image-wrap -->
			</div>
			<div class="item-wrap add-todo-title">
				<textarea class="itenerary-todo-field field input-text autosize" name="itenerary-todo[1][title]" placeholder="Type To-Do Of Your Itenenerary Here"></textarea>
			</div>
		</div>
		<div class="add-todo-details">
			<div class="item-row">
				<div class="item-label">
					Description
				</div>
				<div class="item-wrap">
					<textarea name="itenerary-todo[1][description]" id="" class="field-todo-details autosize field-description" placeholder="Describe this todo"></textarea>
				</div>
			</div><!-- .item-row -->
			<div class="item-row">
				<div class="item-label">
					Tag
				</div>
				<div class="item-wrap">
					<input type="text" class="field-todo-details tagit field-tags" name="itenerary-todo[1][tags]" placeholder="Add tags, separate by comma">
				</div>
			</div><!-- .item-row -->
			<div class="item-row">
				<div class="item-label">
					Budget for this
				</div>
				<div class="item-wrap">
					<div class="select-currency-wrap">
						<select name="itenerary-todo[1][currency]" id="" class="field-todo-details select select-currency field-currency">
							<option value="IDR">IDR</option>
							<option value="USD">USD</option>
							<option value="AUD">AUD</option>
							<option value="RM">RM</option>
							<option value="SGD">SGD</option>
						</select>
					</div>
					<input type="text" class="field-todo-details budget input-money" name="itenerary-todo[1][budget]" placeholder="0">
				</div>
			</div><!-- .item-row -->
			<div class="item-row">
				<div class="item-label">
					Location
				</div>
				<div class="item-wrap">
					<span class="radiobutton-wrap">
						<input type="radio" name="itenerary-todo[1][location-setting]" id="itenerary-todo-location-itenerary[1]" class="field-todo-location-setting" value="itenerary"> <label for="itenerary-todo-location-itenerary[1]">Use this itenerary's location</label>
					</span>
					<span class="radiobutton-wrap">
						<input type="radio" name="itenerary-todo[1][location-setting]" id="itenerary-todo-location-custom[1]" class="field-todo-location-setting" value="custom"> <label for="itenerary-todo-location-custom[1]">Specify specific location</label>
					</span>
				</div>
			</div><!-- .item-row -->
			<div class="item-row location-rows">
				<div class="item-label"></div>
				<div class="item-wrap todo-map-wrap">
					<div id="todo-map-1" class="todo-map"></div>
					<input type="hidden" class="field-todo-details field-todo-location">
				</div>
			</div><!-- .item-row -->
			<div class="item-row add-todo-button-wrap">
				<button class="add-todo-cancel button calm">Cancel</button>
				<button class="add-todo-button button">Save</button>
			</div>
		</div><!-- .add-todo-details -->
		<div class="add-todo-details-preview">										
			<p class="item-row">
				<span class="item-label">Description</span>
				<span class="item-wrap preview-description"></span>
			</p>
			<p class="item-row">
				<span class="item-label">Tags</span>
				<span class="item-wrap preview-tags"></span>
			</p>
			<p class="item-row">
				<span class="item-label">Budget</span>
				<span class="item-wrap">
					<span class="preview-currency"></span> <span class="preview-budget"></span>
				</span>
			</p>
			<p class="item-row">
				<span class="item-label">Location</span>
				<span class="item-wrap preview-location"></span>
			</p>
			<p class="item-row">
				<span class="item-label"></span>
				<span class="item-wrap"><a href="#" class="preview-edit">Edit</a> | <a href="#" class="preview-delete">Delete</a></span>
			</p>
		</div><!-- .add-todo-details-preview -->
	</div><!-- .add-todo -->		
</script>